<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 mt-5">
      <div class="card w-75">
        <img
          src="https://img.freepik.com/free-vector/great-job-good-job-sticker-collection_52683-61137.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-footer text-center">
          <button class="btn btn-primary" [routerLink]="['/stickers']">
            View Stickers
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 my-auto">
      <div class="card w-75 mt-5">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Animated_Wallpaper_Windows_10_-_Wallpaper_Engine.gif"
          alt=""
          class="card-img-top"
        />
        <div class="card-footer text-center">
          <button class="btn btn-primary" [routerLink]="['/gifs']">
            View Gifs
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
