.card {
  border-radius: 2rem;
  background-color: var(--blueColor);
  margin: 0.2rem;

  &:hover {
    cursor: pointer;
    border-radius: 2rem 0rem 2rem 0rem;
    background-color: var(--orangeColor);
  }
}
