<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 mx-auto">
      <button class="btn btn-warning mt-2" [routerLink]="['/home']">
        Back
      </button>
      <div class="card">
        <img
          src="https://media3.giphy.com/media/XgSZZGjhGdgZwI7Jts/200.gif?cid=6cf8d93crkp06inc7m0rki4co342dxpc2kvgk2xtsgq8o5q5&rid=200.gif&ct=s"
          alt=""
          class="card-img-top"
        />
        <h2 class="text-center text-white">Sorry page not found</h2>
      </div>
    </div>
  </div>
</div>
